@model IEnumerable<DesignProject.Models.Employee>

@{
    ViewData["Title"] = "ListEmployee";
}

<h1>ListEmployee</h1>

<p>
    <a asp-action="CreateEmployee">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startingDate)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
               <small>  @Html.DisplayFor(modelItem => item.FullName) </small>
            </td>
            <td>
                <small> @Html.DisplayFor(modelItem => item.Email) </small>
            </td>
            <td>
               <small>  @Html.DisplayFor(modelItem => item.Mobile) </small>
            </td>
            <td>
               <small>  @Html.DisplayFor(modelItem => item.Phone) </small>
            </td>
            <td>
                 <small>@Html.DisplayFor(modelItem => item.Gender) </small>
            </td>
            <td>
                 <small>@Html.DisplayFor(modelItem => item.dateofBirth) </small>
            </td>
            <td>
                 <small>@Html.DisplayFor(modelItem => item.Notes) </small>
            </td>
             <td>
               <small>  @Html.DisplayFor(modelItem => item.JobTitle) </small>
            </td>
            <td>
                <small> @Html.DisplayFor(modelItem => item.startingDate) </small>
            </td>
            <td>
                <a asp-action="CreateEmployee" asp-route-id="@item.ID">Edit</a> 
            </td>  <td>
                <a asp-action="DeleteEmployee" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
